<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Global stylesheets -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
	<link href="assets/assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
	<link href="assets/assets/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="assets/css/custom.css" rel="stylesheet" type="text/css">
    <link href="assets/assets/css/animate.css" rel="stylesheet" type="text/css">
    <link href="assets/assets/css/animate.min.css" rel="stylesheet" type="text/css">

</head>
   
    
    <body class="{{body_class}} nav-closed">
        <div class="site-wrapper">
            {{{body}}}
        </div>
        
    </body>
	<!-- Core JS files -->
	<script type="text/javascript" src="assets/assets/js/plugins/loaders/pace.min.js"></script>
	<script type="text/javascript" src="assets/assets/js/core/libraries/jquery.min.js"></script>
	<script type="text/javascript" src="assets/assets/js/core/libraries/bootstrap.min.js"></script>
	<script type="text/javascript" src="assets/assets/js/plugins/loaders/blockui.min.js"></script>
    <script type="text/javascript" src="assets/assets/js/pages/button.js"></script>
	<!-- /core JS files -->

	<!-- Theme JS files -->
	<script type="text/javascript" src="assets/assets/js/plugins/forms/styling/switchery.min.js"></script>
	<script type="text/javascript" src="assets/assets/js/plugins/ui/prism.min.js"></script>
	
	<script type="text/javascript" src="assets/assets/js/core/app.js"></script>
	<script type="text/javascript" src="assets/assets/js/pages/navbar_single.js"></script>
	<!-- /theme JS files -->
</html>