{{!< default}}
    <title>Nusiv Technology</Title>
    <body>
    <head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Global stylesheets -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
	<link href="/assets/assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
	<link href="/assets/assets/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/custom.css" rel="stylesheet" type="text/css">
    <link href="/assets/assets/css/animate.css" rel="stylesheet" type="text/css">
    <link href="/assets/assets/css/animate.min.css" rel="stylesheet" type="text/css">
    <link rel="Shortcut Icon" href="/assets/images/favicon.ico" type="image/x-icon" />
</head>
   
    <!-- Single bottom navbar -->
   <div>
        <section>
            <div class="textwidget">
                <div>
                    <div class="container1" >
                        <div class="row">
                            <div class="col-sm-12" >
                               <div class="row"> 
                                    <div class="col-sm-6"id="move" >
                                        <p>Welcome to Nusiv Technologies</p>
                                    </div>
                                    <div class="col-sm-6" id="move1">
                                        <p>Call Us:(615) 512-6266 | projects@nusivtechnologies.com</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
   <div class="container1">
        <div class="row" >
            <div class="col-sm-12 " >
            <div id="styling">
                <div class="navbar navbar-inverse bg-info-700 navbar-component" style="position: relative; z-index:29;background-color:white; border-color:white; font-                             size:1.2em;" >
                    <div class="navbar-header">
                        <a class="navbar-brand" ></a>

                        <ul class="nav navbar-nav pull-right visible-xs-block" >
                            <li><a id="aa" data-toggle="collapse" data-target="#navbar-demo-mobile2"><i class="icon-grid2"> </i></a></li>
                        </ul>
                    </div>
                    <div class="navbar-collapse collapse" id="navbar-demo-mobile2"><img id="homealign" src="/assets/images/logonusiv.png" />
                        <ul class="nav navbar-nav navbar-right">
                            <li><a class="active1" href="http://104.236.61.59/" >&nbsp;Home</a></li>
                            <li class="dropdown">
                                <a  href="http://104.236.61.59/clinicaltermmap/" class="dropdown-toggle" data-toggle="dropdown">Products<span class="caret"></span></a>
                                <ul class="dropdown-menu dropdown-menu-left" style="width:200px; ">
                                    <li><a href="http://104.236.61.59/clinicaltermmap/" itemprop="url" >ClinicalTermMap</a></li>
                                    <li><a href="http://104.236.61.59/trackandtrace/">Track and Trace Meds</a>
                                    <li><a href="http://104.236.61.59/universityhubs/">University Hubs</a>
                                    <li><a href="http://104.236.61.59/clinicaltermextraction/">Clinical Term Extraction</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="http://104.236.61.59/services/">Services</a></li>
                            <li><a  href="http://104.236.61.59/ourcompany/">Our Company</a></li>
                            <li ><a  href="http://104.236.61.59/contact/">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
                    <!-- /single bottom navbar -->
    
                            
      <!--- carousel-->

        <div id="carousel-example" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner animated fadeInRight">
                    <div class="item active">
                        <a href="#"><img src="/assets/images/homebanner.jpg" /></a>
                        <div class="carousel-caption">
                        </div>
                    </div>
                    <div class="item">
                        <a href="#"><img src="/assets/images/homebanner1.jpg" /></a>
                        <div class="carousel-caption">
                        </div>
                    </div>
                    <div class="item">
                        <a href="#"><img src="/assets/images/homebanner2.jpg"/></a>
                        <div class="carousel-caption">
                        </div>
                    </div>
                </div>
        </div>  
       
       <script>
           $('.carousel').carousel({
               interval: 2000
           })
       </script>
                            
                             <!-- grids-->
              
<div class="container animated fadeInUp"><br><br>
    
    <div class="row" >
        <div class="col-sm-4" >
            <h1 style="font-size:230%;">ClinicalTermMap® –<br></h1>
            <h2>Key Features<br><br></h2>
            <p class="size">A centralized database application that houses medication, laboratory tests, diagnostics and more from diverse systems throughout your                                         organization.</p>
           <form action="http://104.236.61.59/clinicaltermmap/">
                <input type="submit" id="button" value="Read More>>">
           </form>
        </div>
        
        <div class="col-sm-8">
            <div class="row">
                <div class="col-sm-1">
                    <img id="align" class="left" src="/assets/images/icon-features.png" >
                </div>
                <div class="col-sm-5" >
                    <h2>Medications</h2><br>
                    <p class="size">Leverages the RxNorm database to facilitate efficient management of medication terms and synonyms.</p>
                </div>
                <div class="col-sm-1">
                    <img id="align" class="left" src="/assets/images/icon-features.png" >
                </div>
                
                <div class="col-sm-5" >
                    <h2>Laboratory</h2><br>
                    <p class="size">Easily identify laboratory terms and synonyms standard to LOINC.<br><br></p>
                </div>
            </div>
            
            <div class="row">
                <div class="col-sm-1">
                    <img   id="align" class="left" src="/assets/images/icon-features.png" >
                </div>
                <div class="col-sm-5"> 
                    <h2>Diagnostics<br></h2>
                    <p class="size">Identifies diagnostic procedures with standard RadLax or LOINC terms.</p>
                </div>
                <div class="col-sm-1">
                    <img   id="align" class="left" src="/assets/images/icon-features.png" >
                </div>
                <div class="col-sm-5" >  
                    <h2>Standard Clinical Terms<br></h2>
                    <p class="size">Standardize clinical terms with nationally recognized libraries including RxNorm, LOINC, RadLax, ICD10, and more.</p>
                </div>
            </div>
        </div>
    </div>
</div> <br><br> 
                            

    <div class=" container " class="tabbable tabs-right" id ="down" >
            <h2 style="text-align: center;"><br>Our services</h2><br><br> 
            <div class="col-sm-12 container ">
                <div class="row" >
                    <div class="col-sm-2 alignn" id ="down1"> <!-- required for floating -->
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs1 tabs-left sideways">
                            <li class="active"><a href="#home-v" data-toggle="tab" >Software Development</a></li>
                            <li><a href="#profile-v" data-toggle="tab">FHIR Services</a></li>
                            <li><a href="#messages-v" data-toggle="tab">HL7 & Interoperablity</a></li>
                            <li><a href="#settings-v" data-toggle="tab">NLP</a></li>
                            <li><a href="#settings-z" data-toggle="tab">Search Engines</a></li>
                            <li><a href="#settings-t" data-toggle="tab">Technology</a></li>
                        </ul>
                    </div>
                    
                    <div class="col-sm-10" class="tabbable tabs-right" id ="down2">
                        <div class="tab-content">
                            
                            <div class="tab-pane active animated fadeInUp" id="home-v">
                                <img align="left"  width="380" height="100" class="img-responsive" class="down2pad"style="margin-left:-7px";                                                                        src="/assets/images/software.jpg"/ HSPACE=10 >
                                <p class="size"  align="left">Our experienced, professional experts provide Nusiv Technologies with the flexibility needed to work with a                                                                   variety of software development processes.</p>
                            </div>
                            
                            <div class="tab-pane animated fadeInUp" id="profile-v">
                                <img align="left" width="380" height="100" class="img-responsive" style="margin-left:-7px"; src="/assets/images/FHIR-Services.jpg"/                                          HSPACE=20 >
                                <p class="size"  align="left">Our experts will facilitate development, implementation, and testing of the new Fast Healthcare Interoperability                                                               Resources (FHIR) framework.</p>
                            </div>
                            
                            <div class="tab-pane animated fadeInUp" id="messages-v">
                                <img  align="left" width="380" height="100" class="img-responsive" style="margin-left:-7px"; src="/assets/images//hl7.jpg" HSPACE=20 />
                                <p class="size"  align="left" >With more than 12 years experience working with HL7 our healthcare experts can demonstrate the enhanced                                                                        capabilities available through our specialized interoperability platform.</p>
                            </div>
                            
                            <div class="tab-pane animated fadeInUp" id="settings-v">
                                <img align="left" width="380" height="150" class="img-responsive" style="margin-left:-7px"; src="/assets/images/nlp.jpg" HSPACE=20 />
                                <p class="size" align="left">Our Natural Language Processing (NLP) experts leverage machine learning algorithm and NLP searches to derive                                                                  specific insights from extensive bodies of unstructured healthcare data.</p>
                            </div>
                            
                            <div class="tab-pane animated fadeInUp" id="settings-z">
                            <img  align="left" width="380" height="150" class="img-responsive" style="margin-left:-7px"; src="/assets/images/search.jpg" HSPACE=20/>
                                <p class="size"  align="left">Nusiv team members possess years of expertise working with Lucene Solr and Elastic Search. Nusiv provides                                                                     technological solutions to significantly improve search functionality for billions of records.</p>
                            </div>
                            
                            <div class="tab-pane animated fadeInUp" id="settings-t">
                                <img align="left" width="380" height="180" class="img-responsive" style="margin-left:-7px"; src="/assets/images/man2.png" HSPACE=20 />
                                <p class="size" align="left">Our team of experts is proactive, flexible, and responsive to your needs. They are well versed in Java,                                                                        Javascript, .NET, Groovy on Rails, and Python.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
      </div>
   
       <br><br> 
       
                 <div class="container vc_col-sm-12 animated fadeInUp" >
                    <h2 style="text-align: center;" ></h2>
                    <hr />  
                    <p style="text-align: center;" class="size">Our experienced, professional experts provide Nusiv Technologies with the flexibility needed to work with a                                                                   variety of software development processes.<br /><b>Paula Eagle, MD | Psychiatrist, NY</b></p>
                </div>
                <br><br> 
                <div class="container3" class="block wow fadeInUp" data-wow-delay=".3s">
                    <div class="row">
                        <div class="col-sm-12" id="footer" >
                        <h5 style="text-align: center;">© Copyright 2016. All Rights Reserved by Nusiv Technologies</h5>
                        </div>
                    </div> 
                </div>

 </div>
 </body>