<!DOCTYPE html>
<html lang="en">
<head>
<title>University Hubs</Title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Global stylesheets -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
	<link href="/assets/assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
	<link href="/assets/assets/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/custom.css" rel="stylesheet" type="text/css">
    <link href="/assets/assets/css/animate.css" rel="stylesheet" type="text/css">
    <link href="/assets/assets/css/animate.min.css" rel="stylesheet" type="text/css">
    <link rel="Shortcut Icon" href="/assets/images/2016/04/favicon.ico" type="image/x-icon" />
</head>
    
    
    
    <body style="background-color:#fff;">
    
    <!-- Single bottom navbar -->
   <div>
        <section>
            <div class="textwidget">
                <div>
                    <div class="container1" >
                        <div class="row">
                            <div class="col-sm-12" >
                               <div class="row"> 
                                    <div class="col-sm-6"id="move" >
                                        <p>Welcome to Nusiv Technologies</p>
                                    </div>
                                    <div class="col-sm-6" id="move1">
                                        <p>Call Us:(615) 512-6266 | projects@nusivtechnologies.com</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
    <div class="container1">
        <div class="row" >
            <div class="col-sm-12 " >
            <div id="styling">
                <div class="navbar navbar-inverse bg-info-700 navbar-component" style="position: relative; z-index: 29;background-color:white; border-color:white; font-size:                             1.2em;" >
                    <div class="navbar-header">
                        <a class="navbar-brand" ></a>

                        <ul class="nav navbar-nav pull-right visible-xs-block" >
                            <li><a id="aa" data-toggle="collapse" data-target="#navbar-demo-mobile2"><i class="icon-grid2"> </i></a></li>
                        </ul>
                    </div>
                    <div class="navbar-collapse collapse" id="navbar-demo-mobile2"><img id="homealign" src="/assets/images/2016/04/logonusiv.png" />
                        <ul class="nav navbar-nav navbar-right">
                            <li><a  href="http://104.236.61.59/" >&nbsp;Home</a></li>
                            <li class="dropdown">
                                <a class="active1" href="http://104.236.61.59/clinicaltermmap/" class="dropdown-toggle" data-toggle="dropdown">Products<span class="caret">                                        </span></a>
                                <ul class="dropdown-menu dropdown-menu-left" style="width:200px; ">
                                    <li><a href="http://104.236.61.59/clinicaltermmap/" itemprop="url" >ClinicalTermMap</a></li>
                                    <li><a href="http://104.236.61.59/trackandtrace/">Track and Trace Meds</a>
                                    <li><a href="http://104.236.61.59/universityhubs/">University Hubs</a>
                                    <li><a href="http://104.236.61.59/clinicaltermextraction/">Clinical Term Extraction</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="http://104.236.61.59/services/">Services</a></li>
                            <li><a  href="http://104.236.61.59/ourcompany/">Our Company</a></li>
                            <li ><a  href="http://104.236.61.59/contact/">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
					<!-- /single bottom navbar -->
                        <!-- till here -->
        
                    <!-- product clinicaltermmap -->
       
              
    <div class="container1">
        <div class="row" >
            <div class="col-sm-12 " id="pad" >
                 <a href="http://universityhubs.com/" title="Click to Visit Our University Hubs Page" target="_blank" > 
                   <img align="right" id="imgalign1" width="1000px" height="1000px" class="img-responsive animated fadeInRight" src="/assets/images/2016/04/university.jpg" />
                </a>
            </div>
        </div>
    </div>
         
     <div class="container1">
                <div class="row">
                    <div class="col-sm-12 animated fadeInRight" id="footer" >
                        <h4 style="text-align: center;">© Copyright 2016. All Rights Reserved by Nusiv Technologies</h4>
                    </div>
                </div>
      </div>
        
</div>

</body>
    <script type="text/javascript" src="assets/assets/js/plugins/loaders/pace.min.js"></script>
	<script type="text/javascript" src="/assets/assets/js/core/libraries/jquery.min.js"></script>
	<script type="text/javascript" src="/assets/assets/js/core/libraries/bootstrap.min.js"></script>
	<script type="text/javascript" src="/assets/assets/js/plugins/loaders/blockui.min.js"></script>
	<!-- /core JS files -->

	<!-- Theme JS files -->
	<script type="text/javascript" src="/assets/assets/js/plugins/forms/styling/switchery.min.js"></script>
	<script type="text/javascript" src="/assets/assets/js/plugins/ui/prism.min.js"></script>
	
	<script type="text/javascript" src="/ssets/assets/js/core/app.js"></script>
	<script type="text/javascript" src="/assets/assets/js/pages/navbar_single.js"></script>
	<!-- /theme JS files -->
