<!DOCTYPE html>
<html lang="en">
<head>
<title>ClinicalTermExtraction</Title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Global stylesheets -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
	<link href="/assets/assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
	<link href="/assets/assets/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/custom.css" rel="stylesheet" type="text/css">
    <link href="/assets/assets/css/animate.css" rel="stylesheet" type="text/css">
    <link href="/assets/assets/css/animate.min.css" rel="stylesheet" type="text/css">
    <link rel="Shortcut Icon" href="/assets/images/2016/04/favicon.ico" type="image/x-icon" />
</head>
    
    
    
    <body style="background-color:#fff;">
    
    <!-- Single bottom navbar -->
   
        <section>
            <div class="textwidget">
                <div>
                    <div class="container1" >
                        <div class="row">
                            <div class="col-sm-12" >
                               <div class="row"> 
                                    <div class="col-sm-6"id="move" >
                                        <p>Welcome to Nusiv Technologies</p>
                                    </div>
                                    <div class="col-sm-6" id="move1">
                                        <p>Call Us:(615) 512-6266 | projects@nusivtechnologies.com</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
    <div class="container1">
        <div class="row" >
            <div class="col-sm-12 " >
            <div id="styling">
                <div class="navbar navbar-inverse bg-info-700 navbar-component" style="position: relative; z-index: 29;background-color:white; border-color:white; font-size:                             1.2em;" >
                    <div class="navbar-header">
                        <a class="navbar-brand" ></a>

                        <ul class="nav navbar-nav pull-right visible-xs-block" >
                            <li><a id="aa" data-toggle="collapse" data-target="#navbar-demo-mobile2"><i class="icon-grid2"> </i></a></li>
                        </ul>
                    </div>
                    <div class="navbar-collapse collapse" id="navbar-demo-mobile2"><img id="homealign" src="/assets/images/2016/04/logonusiv.png" />
                        <ul class="nav navbar-nav navbar-right">
                            <li><a  href="http://104.236.61.59/" >&nbsp;Home</a></li>
                            <li class="dropdown">
                                <a class="active1" href="http://104.236.61.59/clinicaltermmap/" class="dropdown-toggle" data-toggle="dropdown">Products<span class="caret">                                        </span></a>
                                <ul class="dropdown-menu dropdown-menu-left" style="width:200px; ">
                                    <li><a href="http://104.236.61.59/clinicaltermmap/" itemprop="url" >ClinicalTermMap</a></li>
                                    <li><a href="http://104.236.61.59/trackandtrace/">Track and Trace Meds</a>
                                    <li><a href="http://104.236.61.59/universityhubs/">University Hubs</a>
                                    <li><a href="http://104.236.61.59/clinicaltermextraction/">Clinical Term Extraction</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="http://104.236.61.59/services/">Services</a></li>
                            <li><a  href="http://104.236.61.59/ourcompany/">Our Company</a></li>
                            <li ><a  href="http://104.236.61.59/contact/">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
       
					<!-- /single bottom navbar -->
                                    <!-- till here --> 
        
                   
        <div class="container">
            <div class="row" >
                <div class="col-sm-12 " id="pad" >
                    <img align="right" id="imgalign1" class="img-responsive animated fadeInRight" src="/assets/images/cte111.png" />
                </div>
            </div>
        </div><br><br>
       
    <div class="container animated fadeInUp">
        <div class="row" >
            <div class="col-sm-12 " id="pad" >
                 <h1><strong>Clinical Term Extraction</strong></h1><br>
                     <h3><strong>NLP</strong></h3>
                      <h2 style="text-align: justify;"> Natural language Processing as a Service for healthcare industry. Our text analysis uses industry standard Python and                                                         Java technologies. We have successfully built application that performs Entity Extraction, Sentiment Analysis, Keyword                                                         Extraction, Concept Tagging, Relation Extraction,Taxonomy Classification, Text Extraction, Feed Detection.</h2>
            </div>
             <div class="col-sm-12 " id="pad" >
                     <h3><strong>Data Science</strong></h3>
                      <h2 style="text-align: justify;"> We use several open source technologies to bring data science solutions to reality. We work with any raw data, convert                                                         them into clean data set, build easy to use APIs to query those raw data, build algorithms and models to extract most                                                         relevant data, and finally build an appropriate visualization tool to understand the data sets outcome.</h2>
             </div> 
        </div><br><br><br>
             <div class="row" >
                <div class="col-sm-12 " id="pad" >
                        <img align="right" id="imgalign1" class="img-responsive animated fadeInRight" src="/assets/images/cet15.png" />
                </div>
             </div>
        
                <div class="row" >
                     <div class="col-sm-12 " id="pad" >
                          <img align="right" id="imgalign1" class="img-responsive animated fadeInRight" src="/assets/images/ctesa111.png" />
                     </div>
               </div>
    </div><br>
       
     <div class="container1 animated fadeInUp">
                <div class="row">
                    <div class="col-sm-12" id="footer" >
                        <h4 style="text-align: center;">© Copyright 2016. All Rights Reserved by Nusiv Technologies</h4>
                    </div>
                </div>
      </div>        


</body>
    <script type="text/javascript" src="assets/assets/js/plugins/loaders/pace.min.js"></script>
	<script type="text/javascript" src="/assets/assets/js/core/libraries/jquery.min.js"></script>
	<script type="text/javascript" src="/assets/assets/js/core/libraries/bootstrap.min.js"></script>
	<script type="text/javascript" src="/assets/assets/js/plugins/loaders/blockui.min.js"></script>
	<!-- /core JS files -->

	<!-- Theme JS files -->
	<script type="text/javascript" src="/assets/assets/js/plugins/forms/styling/switchery.min.js"></script>
	<script type="text/javascript" src="/assets/assets/js/plugins/ui/prism.min.js"></script>
	
	<script type="text/javascript" src="/ssets/assets/js/core/app.js"></script>
	<script type="text/javascript" src="/assets/assets/js/pages/navbar_single.js"></script>