<!DOCTYPE html>
<html lang="en">
<head>
<title>ClinicalTermMap</Title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Global stylesheets -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
	<link href="/assets/assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
	<link href="/assets/assets/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/custom.css" rel="stylesheet" type="text/css">
    <link href="/assets/assets/css/animate.css" rel="stylesheet" type="text/css">
    <link href="/assets/assets/css/animate.min.css" rel="stylesheet" type="text/css">
    <link rel="Shortcut Icon" href="/assets/images/2016/04/favicon.ico" type="image/x-icon" />
</head>
    
    
    
    <body style="background-color:#fff;">
    
    <!-- Single bottom navbar -->
   <div>
        <section>
            <div class="textwidget">
                <div>
                    <div class="container1" >
                        <div class="row">
                            <div class="col-sm-12" >
                               <div class="row"> 
                                    <div class="col-sm-6"id="move" >
                                        <p>Welcome to Nusiv Technologies</p>
                                    </div>
                                    <div class="col-sm-6" id="move1">
                                        <p>Call Us:(615) 512-6266 | projects@nusivtechnologies.com</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
    <div class="container1">
        <div class="row" >
            <div class="col-sm-12 " >
            <div id="styling">
                <div class="navbar navbar-inverse bg-info-700 navbar-component" style="position: relative; z-index: 29;background-color:white; border-color:white; font-size:                             1.2em;" >
                    <div class="navbar-header">
                        <a class="navbar-brand" ></a>

                        <ul class="nav navbar-nav pull-right visible-xs-block" >
                            <li><a id="aa" data-toggle="collapse" data-target="#navbar-demo-mobile2"><i class="icon-grid2"> </i></a></li>
                        </ul>
                    </div>
                    <div class="navbar-collapse collapse" id="navbar-demo-mobile2"><img id="homealign" src="/assets/images/2016/04/logonusiv.png" />
                        <ul class="nav navbar-nav navbar-right">
                            <li><a  href="http://104.236.61.59/" >&nbsp;Home</a></li>
                            <li class="dropdown">
                                <a class="active1" href="http://104.236.61.59/clinicaltermmap/" class="dropdown-toggle" data-toggle="dropdown">Products<span class="caret">                                        </span></a>
                                <ul class="dropdown-menu dropdown-menu-left" style="width:200px; ">
                                    <li><a href="http://104.236.61.59/clinicaltermmap/" itemprop="url" >ClinicalTermMap</a></li>
                                    <li><a href="http://104.236.61.59/trackandtrace/">Track and Trace Meds</a>
                                    <li><a href="http://104.236.61.59/universityhubs/">University Hubs</a>
                                    <li><a href="http://104.236.61.59/clinicaltermextraction/">Clinical Term Extraction</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="http://104.236.61.59/services/">Services</a></li>
                            <li><a  href="http://104.236.61.59/ourcompany/">Our Company</a></li>
                            <li ><a  href="http://104.236.61.59/contact/">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
					<!-- /single bottom navbar -->
                                    <!-- till here -->
        
                    <!-- product clinicaltermmap -->
        
    <div class="container1">
        <div class="row" >
            <div class="col-sm-12 " id="pad" >
                 <img align="right" id="imgalign" class="img-responsive animated fadeInRight" src="/assets/images/2016/04/chs2.png" />
            </div>
        </div>
    </div><br>
        
                            <!-- product clinicaltermmap paragraph -->
                
    <div class="container animated fadeInUp" class="subtitle wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".3s">
        <div class="row" >
            <div class="col-sm-12 ">
                <h1 align="center">What is ClinicalTermMap®?</h1><br><br>
                <p align="center" id="cfont" class="size">ClinicalTermMap® is a centralized database application that standardizes terminology and synonyms from diverse EHR                      systems across hospitals, including medications, laboratory tests, diagnostics, and more.</p>
            </div>
        </div>
    </div><br>           
                <!-- med lab Dia -->

<div class="container animated fadeInUp" id="mpad" class="size">     
 <div class="col-xs-12 container" id ="pcolor" >
    <div class="container">
        <div class="row" >
            <div class="col-sm-4"class="size" >
                <h3 align="center" style="color:#3BC4F1 ;">Medications<br><br></h3>
                <p align="justify" id="mfont" style="margin-right: ;"class="size">Standardize medication terms and synonyms using the NDC with the U.S. National Library of                        Medicine.</p>
             </div>
            <div class="col-sm-4" >
                <h3 align="center" style="color:#3BC4F1 ;">Laboratory<br><br></h3>
                <p align="justify" id="mfont" style="margin-right: ;"class="size">Standardizes recognition of a wide variety of terms, synonyms, and other unique identifiers                      applied by physicians to describe laboratory tests and results across hospital systems.</p>
            </div>
            
            <div class="col-sm-4" >
                <h3 align="center" style="color:#3BC4F1 ;">Diagnostics<br><br></h3>
                <p align="justify"  id="mfont" style="margin-right:1.3em ;"class="size">Standardizes recognition of a wide variety of terms, synonyms, and other unique                            identifiers applied by physicians to describe diagnostic tests and results across hospital systems.</p>
            </div>
        </div>
    </div>            
 </div>     
</div> <br>
        
        <div class="container wow animated fadeInUp">
            <div class="col-sm-12 container">
                <div class="container">
                    <div class="row" >
                        <div class="col-sm-3" >
                            <h1>ClinicalTermMap®<br>Workflow<br></h1>
                            <img align="left" class="img-responsive" src="/assets/images/2016/04/workflow.jpg" />
                        </div>
                        
                        <div class="col-sm-8">
                            <h1 style="font-weight:400;">Other Features </h1><br>
                            <h4 style="color:black;"><strong>Highly Flexible</strong></h4>
                            <h5>Provides the flexibility clinicians are looking for.</h5><br>
                            
                            <h4><strong>Clinician Tailored</strong></h4>
                            <h5>Tailored to meet clinician needs.</h5><br>
                            
                            <h4><strong>Standardization</strong></h4>
                            <h5>Facilitates attainment of standardization goals in clinical practice.</h5><br>
                            
                            <h4><strong>NLP</strong></h4>
                            <h5>Unique algorithm applies ranked retrieval mechanism to standardize and integrate medication, laboratory tests, diagnostics and more from                                       diverse systems throughout your organization.</h5><br>
                        </div>
                    </div>
                </div>
            </div>
        </div><br><br>
        
        
        <div class="container animated fadeInUp" class="subtitle wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".3s">
            <div class="col-xs-12 container">
                <div class="container">
                    <div class="row" >
                        <div class="col-sm-4" class="border1" >
                            <h1 align="left">Product Screenshots</h1><br><br>
                            <img align="left" class="img-responsive animated fadeInRight" src="/assets/images/2016/04/chs2.png" />
                        </div>
                        
                        <div class="col-sm-4" >
                            <h1></h1><br><br>
                            <img align="left" id="proddown" class="img-responsive animated fadeInRight" src="/assets/images/2016/04/chs4.png" />
                        </div>
                        <div class="col-sm-4" >
                           <h1></h1><br><br>
                            <img align="left" id="proddown"  class="img-responsive animated fadeInRight" src="/assets/images/2016/04/chs6.png" />
                        </div>
                    </div>
                </div>
            </div>
        </div><br><br>
        
         <br><br>
     <div class="container1">
                <div class="row">
                    <div class="col-sm-12" id="footer" >
                        <h4 style="text-align: center;">© Copyright 2016. All Rights Reserved by Nusiv Technologies</h4>
                    </div>
                </div>
      </div>
        
</div>

</body>
    <script type="text/javascript" src="assets/assets/js/plugins/loaders/pace.min.js"></script>
	<script type="text/javascript" src="/assets/assets/js/core/libraries/jquery.min.js"></script>
	<script type="text/javascript" src="/assets/assets/js/core/libraries/bootstrap.min.js"></script>
	<script type="text/javascript" src="/assets/assets/js/plugins/loaders/blockui.min.js"></script>
	<!-- /core JS files -->

	<!-- Theme JS files -->
	<script type="text/javascript" src="/assets/assets/js/plugins/forms/styling/switchery.min.js"></script>
	<script type="text/javascript" src="/assets/assets/js/plugins/ui/prism.min.js"></script>
	
	<script type="text/javascript" src="/ssets/assets/js/core/app.js"></script>
	<script type="text/javascript" src="/assets/assets/js/pages/navbar_single.js"></script>
	<!-- /theme JS files -->
