<!DOCTYPE html>
<html lang="en">
<head>
<title>Contact</Title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	

	<!-- Global stylesheets -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
	<link href="/assets/assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
	<link href="/assets/assets/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/custom.css" rel="stylesheet" type="text/css">
    <link href="/assets/assets/css/animate.css" rel="stylesheet" type="text/css">
    <link href="/assets/assets/css/animate.min.css" rel="stylesheet" type="text/css">
    <link rel="Shortcut Icon" href="/assets/images/2016/04/favicon.ico" type="image/x-icon" />
</head>
    
    
    
    <body style="background-color:#fff;">
    
    <!-- Single bottom navbar -->
   <div>
        <section>
            <div class="textwidget">
                <div>
                    <div class="container1" >
                        <div class="row">
                            <div class="col-sm-12" >
                               <div class="row"> 
                                    <div class="col-sm-6"id="move" >
                                        <p>Welcome to Nusiv Technologies</p>
                                    </div>
                                    <div class="col-sm-6" id="move1">
                                        <p>Call Us:(615) 512-6266 | projects@nusivtechnologies.com</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
    <div class="container1">
        <div class="row" >
            <div class="col-sm-12 " >
            <div id="styling">
                <div class="navbar navbar-inverse bg-info-700 navbar-component" style="position: relative; z-index: 29;background-color:white; border-color:white; font-size:                             1.2em;" >
                    <div class="navbar-header">
                        <a class="navbar-brand" ></a>

                        <ul class="nav navbar-nav pull-right visible-xs-block" >
                            <li><a id="aa" data-toggle="collapse" data-target="#navbar-demo-mobile2"><i class="icon-grid2"> </i></a></li>
                        </ul>
                    </div>
                    <div class="navbar-collapse collapse" id="navbar-demo-mobile2"><img id="homealign" src="/assets/images/2016/04/logonusiv.png" />
                        <ul class="nav navbar-nav navbar-right">
                            <li><a  href="http://104.236.61.59/" >&nbsp;Home</a></li>
                            <li class="dropdown">
                                <a  href="http://104.236.61.59/clinicaltermmap/" class="dropdown-toggle" data-toggle="dropdown">Products<span class="caret"></span></a>
                                <ul class="dropdown-menu dropdown-menu-left" style="width:200px; ">
                                    <li><a href="http://104.236.61.59/clinicaltermmap/" itemprop="url" >ClinicalTermMap</a></li>
                                    <li><a href="http://104.236.61.59/trackandtrace/">Track and Trace Meds</a>
                                    <li><a href="http://104.236.61.59/universityhubs/">University Hubs</a>
                                    <li><a href="http://104.236.61.59/clinicaltermextraction/">Clinical Term Extraction</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="http://104.236.61.59/services/">Services</a></li>
                            <li><a  href="http://104.236.61.59/ourcompany/">Our Company</a></li>
                            <li ><a class="active1"  href="http://104.236.61.59/contact/">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
					<!-- /single bottom navbar -->
<!-- till here -->
     
        
                                                <!-- contactus-banner -->
        
     <div class="container1">
        <div class="row" >
            <div class="col-lg-12 ">
                 <img align="right" id="imgalign" class="img-responsive animated fadeInRight" src="/assets/images/2016/04/contactus-banner.jpg"/ >
            </div>
        </div>
    </div><br>
        
                                <!-- paragraph -->
        
 <div class="container animated fadeInUp">
     <div class="row" ><br>
         <div class="col-sm-12" id="servicespara1" >
                 <h4 align="center" class="sericespara1">We are located in Nashville, TN, the heart of the healthcare happenings. Shoot us an email or give us a call, if                                                              you’re interested in getting to know more about our service offerings</h4>
        </div><br><br>
     </div>
 </div>
        
                                    <!-- new contact -->
         
  <div class="container animated fadeInUp" data-timeout="400">
     <div class="row" ><br>
         <div class="col-sm-12">
             <div class="row" >
                   <div class="col-sm-6">
                             <h3 align="left">Address:</h3>
                             <p  style="font:200px;"><i>Nusiv Technologies<br>2550 Meridian Blvd., Suite 200<br>
                                   Franklin, TN 37067</i><br><br>
                                   <b>Email :</b> <a href="mailto:projects@nusivtechnologies.com?Subject-Lets Meet" target="_top">projects@nusivtechnologies.com</a><br><br>
                                <b>Phone</b> :+1-615-512-6266</p>
                              
                    </div>
                 
                 <div class="col-sm-6">
                     <div class="content">
                         
                         <form class="form-horizontal form-validate-jquery" action="MAILTO:suryacoorg91@gmail.com" method="post">
                             <div class="form-group">
                                 <div class="col-lg-12">
                                       <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3229.8277218754397!2d-86.81073448530552!3d35.95118412272798!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8864795b6dd97435%3A0x478d2c3a1d813880!2sMeridian+Blvd%2C+Franklin%2C+TN+37067%2C+USA!5e0!3m2!1sen!2sin!4v1461748137213" width="550" height="400"></iframe>
                                 </div>
                             </div>
                         </form> 
                     </div>
                 </div>
             </div>
         </div>
      </div>
  </div>
                
 
                                        <!-- footer -->
            <br><br><br><br>    
            <div class="container1 animated fadeInUp">
                <div class="row">
                    <div class="col-sm-12" id="footer" >
                        <h4 style="text-align: center;">© Copyright 2016. All Rights Reserved by Nusiv Technologies</h4>
                    </div>
                </div>
            </div>
     
</div>



</body>

  <script type="text/javascript" src="assets/assets/js/plugins/loaders/pace.min.js"></script>
	<script type="text/javascript" src="/assets/assets/js/core/libraries/jquery.min.js"></script>
	<script type="text/javascript" src="/assets/assets/js/core/libraries/bootstrap.min.js"></script>
	<script type="text/javascript" src="/assets/assets/js/plugins/loaders/blockui.min.js"></script>
	<!-- /core JS files -->

	<!-- Theme JS files -->
	<script type="text/javascript" src="/assets/assets/js/plugins/forms/styling/switchery.min.js"></script>
	<script type="text/javascript" src="/assets/assets/js/plugins/ui/prism.min.js"></script>
	
	<script type="text/javascript" src="/ssets/assets/js/core/app.js"></script>
	<script type="text/javascript" src="/assets/assets/js/pages/navbar_single.js"></script>
	<!-- /theme JS files -->
