<!DOCTYPE html>
<html lang="en">
<head>
<title>Services</Title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Global stylesheets -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
	<link href="/assets/assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
	<link href="/assets/assets/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/custom.css" rel="stylesheet" type="text/css">
    <link href="/assets/assets/css/animate.css" rel="stylesheet" type="text/css">
     <link href="/assets/assets/css/animate.min.css" rel="stylesheet" type="text/css">
    <link rel="Shortcut Icon" href="/assets/images/2016/04/favicon.ico" type="image/x-icon" />
</head>
    
    
    
    <body style="background-color:#fff;">
    
    <!-- Single bottom navbar -->
   <div>
        <section>
            <div class="textwidget">
                <div>
                    <div class="container1" >
                        <div class="row">
                            <div class="col-sm-12" >
                               <div class="row"> 
                                    <div class="col-sm-6"id="move" >
                                        <p>Welcome to Nusiv Technologies</p>
                                    </div>
                                    <div class="col-sm-6" id="move1">
                                        <p>Call Us:(615) 512-6266 | projects@nusivtechnologies.com</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
    <div class="container1">
        <div class="row" >
            <div class="col-sm-12 " >
            <div id="styling">
                <div class="navbar navbar-inverse bg-info-700 navbar-component" style="position: relative; z-index: 29;background-color:white; border-color:white; font-size:                             1.2em;" >
                    <div class="navbar-header">
                        <a class="navbar-brand" ></a>

                        <ul class="nav navbar-nav pull-right visible-xs-block" >
                            <li><a id="aa" data-toggle="collapse" data-target="#navbar-demo-mobile2"><i class="icon-grid2"> </i></a></li>
                        </ul>
                    </div>
                    <div class="navbar-collapse collapse" id="navbar-demo-mobile2"><img id="homealign" src="/assets/images/2016/04/logonusiv.png" />
                        <ul class="nav navbar-nav navbar-right">
                            <li><a  href="http://104.236.61.59/" >&nbsp;Home</a></li>
                            <li class="dropdown">
                                <a  href="http://104.236.61.59/clinicaltermmap/" class="dropdown-toggle" data-toggle="dropdown">Products<span class="caret"> </span></a>
                                <ul class="dropdown-menu dropdown-menu-left" style="width:200px; ">
                                    <li><a href="http://104.236.61.59/clinicaltermmap/" itemprop="url" >ClinicalTermMap</a></li>
                                    <li><a href="http://104.236.61.59/trackandtrace/">Track and Trace Meds</a>
                                    <li><a href="http://104.236.61.59/universityhubs/">University Hubs</a>
                                    <li><a href="http://104.236.61.59/clinicaltermextraction/">Clinical Term Extraction</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a class="active1" href="http://104.236.61.59/services/">Services</a></li>
                            <li><a  href="http://104.236.61.59/ourcompany/">Our Company</a></li>
                            <li ><a  href="http://104.236.61.59/contact/">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
					<!-- /single bottom navbar -->
                    <!-- till here -->
                    <!-- Services -->
        
        <div class="container1">
        <div class="row" >
            <div class="col-sm-12 " id="pad" >
                 <img align="right" id="imgalign" class="img-responsive animated fadeInRight" src="/assets/images/2016/04/services-new-banner.jpg" />
            </div>
        </div>
        </div><br><br>
        
        
                                <!-- paragraph -->
        
        <div class="container animated fadeInUp" class="subtitle wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".3s">
        <div class="row" >
            <div class="col-sm-12" id="servicespara" >
                 <h4 align="justify"  class="sericespara">Our experts develop and test customized software solutions, using agile methodologies, to meet the specific needs of                        your organization.</h4>
            </div>
        </div>
        </div><br>
        
    <div class="container animated fadeInUp">
        <div class="row" >
            <div class="col-sm-12">
                 <h2 align="center" class="sericespara">Areas of Expertise</h2><br><br>
                 <hr/>
            </div>
            <div class="col-sm-4" ><br><br>
                <img class="img-responsive" id="iconarea" align="center" src="/assets/images/2016/04/areas icon-features.png"/><br>
                <h3 align="center">Software Development</h3><br>
                <p align="justify"  class="size">Our experienced, professional experts provide Nusiv Technologies with the flexibility needed to work with a variety of                          software development processes.</p>
            </div>
            
            <div class="col-sm-4" ><br><br>
                <img class="img-responsive" id="iconarea" align="center" src="/assets/images/2016/04/areas icon-technology.png"/><br>
                <h3 align="center">Technology</h3><br>
                <p align="justify"  class="size">Our team of experts is proactive, flexible, and responsive to your needs. They are well versed in Java, Javascript, .NET,                          Groovy on Rails, and Python.</p>
            </div>
            
             <div class="col-sm-4" ><br><br>
                <img class="img-responsive" id="iconarea" align="center" src="/assets/images/2016/04/areas icon-search.png"/><br>
                <h3 align="center">Search Engines</h3><br>
                <p align="justify"  class="size">Nusiv team members possess years of expertise working with Lucene Solr and Elastic Search. Nusiv provides technological                            solutions to significantly improve search functionality for billions of records.</p>
            </div>
            
                    <!-- second row -->
            
            <div class="row">
            <div class="col-sm-4" ><br><br>
                <img class="img-responsive" id="iconarea" align="center" src="/assets/images/2016/04/areas icon-nlp.png"/><br>
                <h3  class="nlp">  NLP </h3><br>
                <p align="justify"  class="size">Our Natural Language Processing (NLP) experts leverage machine learning algorithm and NLP searches to derive specific                              insights from extensive bodies of unstructured healthcare data.</p>
            </div>
            
            <div class="col-sm-4" ><br><br>
                <img class="img-responsive" id="iconarea" align="center" src="/assets/images/2016/04/areas icon-hl7.png"/><br>
                <h3 align="center">HL7 & Interoperability</h3><br>
                <p align="justify"  class="size">With more than 12 years experience working with HL7 our healthcare experts can demonstrate the enhanced capabilities                            available through our specialized interoperability platform.</p>
            </div>
            
             <div class="col-sm-4" ><br><br>
                <img class="img-responsive" id="iconarea" align="center" src="/assets/images/2016/04/areas icon-fhir.png"/><br>
                <h3 align="center">FHIR Services</h3><br>
                <p align="justify"  class="size">Our experts will facilitate development, implementation, and testing of the new Fast Healthcare Interoperability Resources                        (FHIR) framework.</p><br><br><br><br>
            </div>
            </div>
        </div>
    </div>
            
                                                    <!-- What about Nusiv -->
                
    <div class="container animated fadeInUp" id="down05">
        <h2 style="text-align: center;"></h2>
        <hr />
        <h2 style="text-align: center;"></h2>
    </div>
        <br>
                
            <div class="container">
                <div class="wpb_wrapper animated fadeInUp">
                    <p style="text-align: center;" class="size">“Nusiv Technologies, Inc. has the right technical resources, and they really understand what we do. They are                            always ready to help, and I always get one-on-one attention.”<br />
                    <b>Paula Eagle, MD | Psychiatrist, NY</b></p>
                </div>
            </div>
                        <!-- Footer -->    
        
    <br><br><br><br>
    <div class="container1">
                <div class="row">
                    <div class="col-sm-12" id="footer" >
                        <h4 style="text-align: center;">© Copyright 2016. All Rights Reserved by Nusiv Technologies</h4>
                    </div>
                </div>
      </div>
    
    
</div>
</body>
    <script type="text/javascript" src="assets/assets/js/plugins/loaders/pace.min.js"></script>
	<script type="text/javascript" src="/assets/assets/js/core/libraries/jquery.min.js"></script>
	<script type="text/javascript" src="/assets/assets/js/core/libraries/bootstrap.min.js"></script>
	<script type="text/javascript" src="/assets/assets/js/plugins/loaders/blockui.min.js"></script>
	<!-- /core JS files -->

	<!-- Theme JS files -->
	<script type="text/javascript" src="/assets/assets/js/plugins/forms/styling/switchery.min.js"></script>
	<script type="text/javascript" src="/assets/assets/js/plugins/ui/prism.min.js"></script>
	
	<script type="text/javascript" src="/ssets/assets/js/core/app.js"></script>
	<script type="text/javascript" src="/assets/assets/js/pages/navbar_single.js"></script>
	<!-- /theme JS files -->
