<!DOCTYPE html>
<html lang="en">
<head>
<title>Our Company</Title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Global stylesheets -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
	<link href="/assets/assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
	<link href="/assets/assets/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/custom.css" rel="stylesheet" type="text/css">
    <link href="/assets/assets/css/animate.css" rel="stylesheet" type="text/css">
    <link href="/assets/assets/css/animate.min.css" rel="stylesheet" type="text/css">
    <link rel="Shortcut Icon" href="/assets/images/2016/04/favicon.ico" type="image/x-icon" />
    
    
    
    <body style="background-color:#fff;">
    
    <!-- Single bottom navbar -->
   <div>
        <section>
            <div class="textwidget">
                <div>
                    <div class="container1" >
                        <div class="row">
                            <div class="col-sm-12" >
                               <div class="row"> 
                                    <div class="col-sm-6"id="move" >
                                        <p>Welcome to Nusiv Technologies</p>
                                    </div>
                                    <div class="col-sm-6" id="move1">
                                        <p>Call Us:(615) 512-6266 | projects@nusivtechnologies.com</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
    <div class="container1">
        <div class="row" >
            <div class="col-sm-12 " >
            <div id="styling">
                <div class="navbar navbar-inverse bg-info-700 navbar-component" style="position: relative; z-index: 29;background-color:white; border-color:white; font-size:                             1.2em;" >
                    <div class="navbar-header">
                        <a class="navbar-brand" ></a>

                        <ul class="nav navbar-nav pull-right visible-xs-block" >
                            <li><a id="aa" data-toggle="collapse" data-target="#navbar-demo-mobile2"><i class="icon-grid2"> </i></a></li>
                        </ul>
                    </div>
                    <div class="navbar-collapse collapse" id="navbar-demo-mobile2"><img id="homealign" src="/assets/images/2016/04/logonusiv.png" />
                        <ul class="nav navbar-nav navbar-right">
                            <li><a  href="http://104.236.61.59/" >&nbsp;Home</a></li>
                            <li class="dropdown">
                                <a  href="http://104.236.61.59/clinicaltermmap/" class="dropdown-toggle" data-toggle="dropdown">Products<span class="caret"></span></a>
                                <ul class="dropdown-menu dropdown-menu-left" style="width:200px; ">
                                    <li><a href="http://104.236.61.59/clinicaltermmap/" itemprop="url" >ClinicalTermMap</a></li>
                                    <li><a href="http://104.236.61.59/trackandtrace/">Track and Trace Meds</a>
                                    <li><a href="http://104.236.61.59/universityhubs/">University Hubs</a>
                                    <li><a href="http://104.236.61.59/clinicaltermextraction/">Clinical Term Extraction</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="http://104.236.61.59/services/">Services</a></li>
                            <li><a class="active1"  href="http://104.236.61.59/ourcompany/">Our Company</a></li>
                            <li ><a  href="http://104.236.61.59/contact/">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
					<!-- /single bottom navbar -->
                    <!-- till here -->
                    <!-- ourcompany-banner -->
        
        <div class="container1">
            <div class="row" >
                <div class="col-sm-12 ">
                 <img align="right" id="imgalign" class="img-responsive animated fadeInRight" src="/assets/images/2016/04/ourcompany-banner.jpg" />
                </div>
           </div>
       </div>
        
        
                                                <!-- paragraph -->
        
        <div class="container animated fadeInUp">
        <div class="row" ><br><br>
            <div class="col-sm-12" id="servicespara1" >
                 <h4 align="center" class="sericespara1">Our experts develop and test customized software solutions, using agile methodologies, to meet the specific needs of                                                          your organization.</h4>
            </div>
        </div>
        </div>

                             <!-- our history -->
        
        
    <div class="container animated fadeInUp">
        <div class="row">
            <div class="col-sm-8" >
                <h2 align="left">Our History</h2><br>
                <h5 align="left" class="size">Nusiv has developed software systems for a number of large hospitals. With more than 12 years experience working with HL7 our                                                 healthcare experts can demonstrate the enhanced capabilities available through our specialized interoperability platform.</h5>                   <br>
                
                <h2 align="left">Careers</h2>
                <h5 align="left" class="size">Interested in joining our team?</h5><br>
                
                <h5 class="size">You’ll be glad to know that we have many exciting opportunities and provide industry standard perks. Please contact us to inquire about                                        career opportunities with Nusiv.</h5><br>
                 <h2 align="left">Current Job Openings</h2>
            </div>
            
            <div class="col-sm-4" ><br>
                <h2 align="left">Want to know more?</h2><br>
                <h5 align="left" class="size">Contact us learn more about how we can help you grow your business.Arrange A Meeting</h5><br>
                 <form action="http://104.236.61.59/contact/">
                     <input type="submit" id="button1" value="Arrange A Meeting">
                </form>
            </div>
        </div>
    </div>
        
        
                              <!-- Current Job Openings -->
        
        
    <div class="container animated fadeInUp">
        <div class="row">
            <div class="col-sm-12" id ="postioncolor" ><br>
                <p align="left" class="size"><strong> Position: Software Consultant</strong></p><br>
                <p align="left" class="size">Core responsibilities: develop architect web apps using  Node.js, Express.js, Webpack, MongoDB,sails.js and apache Solr</p><br>
               
                <p align="left" class="size"><strong>Location: Franklin TN</strong></p><br>
                <p align="left"class="size">Nusiv technologies need a full stack web developer for the ongoing project in developing/maintaining new and existing web                                                     applications and tools by writing code based on design to ensure business requirements and business rules are met.</p><br>
                
                <p align="left" class="size"><strong>Required Skills:</strong></p><br>
                <p align="left" class="size">HTML, CSS3, Express.js, Node.js, sails.js, Javascript libraries (jQuery,Bootstrap.) MongoDB, JQuery, Ajax,  Apache Solr, REST and                                              other Web 2.0 techniques to design, implement, debug and maintain web solutions. Convert images and layouts for graphic design                                                into HTML and CSS. Produce detailed specifications and write program codes.Minimum Requirements.
                <br><br><br>
                Bachelor’s degree in computer science, computer engineering or related field (will accept a foreign equivalent degree) plus 4 years of experience in computer                 programming or software development.
                <br><br><br>
                We are interested in a team member who enjoys collaborating in developing new software products and enjoy working in a team environment. Good communication is                 essential.
                <br> 
                </p><br>
                
                <p class="size">
                      
                    <strong>
                        Job Type: Full-time<br><br>
                        Required experience: minimum 4 – 5 years <br><br>
                        Required education: Bachelor Degree
                    </strong>
                
                </p>
            </div>
        </div>
    </div>
        
        
                                                    <!-- footer -->
    <br><br><br><br>
     <div class="container1">
                <div class="row">
                    <div class="col-sm-12" id="footer" >
                        <h4 style="text-align: center;">© Copyright 2016. All Rights Reserved by Nusiv Technologies</h4>
                    </div>
                </div>
      </div>
</div>
</body>
    <script type="text/javascript" src="assets/assets/js/plugins/loaders/pace.min.js"></script>
	<script type="text/javascript" src="/assets/assets/js/core/libraries/jquery.min.js"></script>
	<script type="text/javascript" src="/assets/assets/js/core/libraries/bootstrap.min.js"></script>
	<script type="text/javascript" src="/assets/assets/js/plugins/loaders/blockui.min.js"></script>
	<!-- /core JS files -->

	<!-- Theme JS files -->
	<script type="text/javascript" src="/assets/assets/js/plugins/forms/styling/switchery.min.js"></script>
	<script type="text/javascript" src="/assets/assets/js/plugins/ui/prism.min.js"></script>
	
	<script type="text/javascript" src="/ssets/assets/js/core/app.js"></script>
	<script type="text/javascript" src="/assets/assets/js/pages/navbar_single.js"></script>
	<!-- /theme JS files -->

